<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- unless settings.favicon == blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
    {%- endunless -%}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link href="{{ 'bootstrap.css' | asset_url }}" rel="stylesheet">
    <style>
        {{ settings.font_headings | font_face: font_display: 'swap' }}
        :root {
            --bs-headings-font-family: {{ settings.font_headings.family }}, {{ settings.font_headings.fallback_families }};
            --bs-headings-font-weight: {{ settings.font_headings.weight }};
        }
    </style>
    <link href="{{ 'general.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'sections.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">

    <script>
        window.money_format = "{{ shop.money_format }}"
        window.themeStrings = {
            addToCart: `{{ 'product.add_to_cart' | t }}`,
            soldOut: `{{ 'product.sold_out' | t }}`,
            unavailable: `{{ 'product.unavailable' | t }}`,
        }
    </script>

    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'general.js' | asset_url }}" defer></script>
    <script src="{{ 'collection.js' | asset_url }}" defer></script>
    <script src="{{ 'product.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
</head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">
    <a class="visually-hidden-focusable" href="#main">
        {{ 'general.accessibility.skip_content' | t }}
    </a>
    
    {% liquid 
        section 'announcement-bar' 
        section 'navbar' 
    %}

    <main id="main" role="main">
        {{ content_for_layout }}
    </main>

    {% liquid
        section 'footer'
        render 'offcanvas-cart'
        render 'offcanvas-search'
    %}

    <div style="height:568px">
  <div class="Polaris-Card">
    <div class="Polaris-ResourceList__ResourceListWrapper">
      <div class="Polaris-ResourceList__FiltersWrapper">
        <div class="Polaris-Filters">
          <div class="Polaris-Filters-ConnectedFilterControl__ProxyButtonContainer" aria-hidden="true">
            <div data-key="accountStatus">
              <button class="Polaris-Button" type="button">
                <span class="Polaris-Button__Content">
                  <span class="Polaris-Button__Text">Account status</span>
                  <span class="Polaris-Button__Icon">
                    <div class="">
                      <span class="Polaris-Icon">
                        <span class="Polaris-VisuallyHidden">
                        </span>
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                          <path d="M13.098 8h-6.196c-.751 0-1.172.754-.708 1.268l3.098 3.432c.36.399 1.055.399 1.416 0l3.098-3.433c.464-.513.043-1.267-.708-1.267Z">
                          </path>
                        </svg>
                      </span>
                    </div>
                  </span>
                </span>
              </button>
            </div>
            <div data-key="taggedWith">
              <button class="Polaris-Button" type="button">
                <span class="Polaris-Button__Content">
                  <span class="Polaris-Button__Text">Tagged with</span>
                  <span class="Polaris-Button__Icon">
                    <div class="">
                      <span class="Polaris-Icon">
                        <span class="Polaris-VisuallyHidden">
                        </span>
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                          <path d="M13.098 8h-6.196c-.751 0-1.172.754-.708 1.268l3.098 3.432c.36.399 1.055.399 1.416 0l3.098-3.433c.464-.513.043-1.267-.708-1.267Z">
                          </path>
                        </svg>
                      </span>
                    </div>
                  </span>
                </span>
              </button>
            </div>
          </div>
          <div class="Polaris-Filters-ConnectedFilterControl__Wrapper">
            <div class="Polaris-Filters-ConnectedFilterControl Polaris-Filters-ConnectedFilterControl--right">
              <div class="Polaris-Filters-ConnectedFilterControl__CenterContainer">
                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                  <div class="Polaris-Labelled--hidden">
                    <div class="Polaris-Labelled__LabelWrapper">
                      <div class="Polaris-Label">
                        <label id="PolarisTextField1Label" for="PolarisTextField1" class="Polaris-Label__Text">Filter customers</label>
                      </div>
                    </div>
                    <div class="Polaris-Connected">
                      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                        <div class="Polaris-TextField">
                          <div class="Polaris-TextField__Prefix" id="PolarisTextField1-Prefix">
                            <span class="Polaris-Filters__SearchIcon">
                              <span class="Polaris-Icon">
                                <span class="Polaris-VisuallyHidden">
                                </span>
                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                  <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm9.707 4.293-4.82-4.82a5.968 5.968 0 0 0 1.113-3.473 6 6 0 0 0-12 0 6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414z">
                                  </path>
                                </svg>
                              </span>
                            </span>
                          </div>
                          <input id="PolarisTextField1" placeholder="Filter customers" autocomplete="off" class="Polaris-TextField__Input Polaris-TextField__Input--hasClearButton" type="text" aria-labelledby="PolarisTextField1Label PolarisTextField1-Prefix" aria-invalid="false" value="">
                          <button type="button" class="Polaris-TextField__ClearButton">
                            <span class="Polaris-VisuallyHidden">Clear</span>
                            <span class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor">
                              <span class="Polaris-VisuallyHidden">
                              </span>
                              <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm-2.293 4.293a1 1 0 0 0-1.414 1.414l2.293 2.293-2.293 2.293a1 1 0 1 0 1.414 1.414l2.293-2.293 2.293 2.293a1 1 0 1 0 1.414-1.414l-2.293-2.293 2.293-2.293a1 1 0 0 0-1.414-1.414l-2.293 2.293-2.293-2.293z">
                                </path>
                              </svg>
                            </span>
                          </button>
                          <div class="Polaris-TextField__Backdrop">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Polaris-Filters-ConnectedFilterControl__RightContainer">
                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                  <div>
                    <button id="Activator-accountStatus" class="Polaris-Button" type="button" tabindex="0" aria-controls="Polarispopover1" aria-owns="Polarispopover1" aria-expanded="false">
                      <span class="Polaris-Button__Content">
                        <span class="Polaris-Button__Text">Account status</span>
                        <span class="Polaris-Button__Icon">
                          <div class="">
                            <span class="Polaris-Icon">
                              <span class="Polaris-VisuallyHidden">
                              </span>
                              <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="M13.098 8h-6.196c-.751 0-1.172.754-.708 1.268l3.098 3.432c.36.399 1.055.399 1.416 0l3.098-3.433c.464-.513.043-1.267-.708-1.267Z">
                                </path>
                              </svg>
                            </span>
                          </div>
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="Polaris-Filters-ConnectedFilterControl__MoreFiltersButtonContainer">
                <div class="Polaris-Filters-ConnectedFilterControl__Item">
                  <div>
                    <button class="Polaris-Button" type="button">
                      <span class="Polaris-Button__Content">
                        <span class="Polaris-Button__Text">More filters</span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <span class="Polaris-VisuallyHidden">
            <div class="Polaris-Filters__TagsContainer" aria-live="polite">
            </div>
          </span>
        </div>
      </div>
      <ul class="Polaris-ResourceList" aria-live="polite">
        <li class="Polaris-ResourceItem__ListItem">
          <div class="Polaris-ResourceItem__ItemWrapper">
            <div class="Polaris-ResourceItem" data-href="customers/341">
              <a aria-describedby="341" aria-label="View details for Mae Jemison" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay4" href="customers/341" data-polaris-unstyled="true">
              </a>
              <div class="Polaris-ResourceItem__Container" id="341">
                <div class="Polaris-ResourceItem__Owned">
                  <div class="Polaris-ResourceItem__Media">
                    <span aria-label="Mae Jemison" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium Polaris-Avatar--shapeRound">
                      <span class="Polaris-Avatar__Initials">
                        <svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
                          <path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z">
                          </path>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="Polaris-ResourceItem__Content">
                  <h3>
                    <span class="Polaris-TextStyle--variationStrong">Mae Jemison</span>
                  </h3>
                  <div>Decatur, USA</div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="Polaris-ResourceItem__ListItem">
          <div class="Polaris-ResourceItem__ItemWrapper">
            <div class="Polaris-ResourceItem" data-href="customers/256">
              <a aria-describedby="256" aria-label="View details for Ellen Ochoa" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay5" href="customers/256" data-polaris-unstyled="true">
              </a>
              <div class="Polaris-ResourceItem__Container" id="256">
                <div class="Polaris-ResourceItem__Owned">
                  <div class="Polaris-ResourceItem__Media">
                    <span aria-label="Ellen Ochoa" role="img" class="Polaris-Avatar Polaris-Avatar--sizeMedium Polaris-Avatar--shapeRound">
                      <span class="Polaris-Avatar__Initials">
                        <svg class="Polaris-Avatar__Svg" viewBox="0 0 40 40">
                          <path fill="currentColor" d="M8.28 27.5A14.95 14.95 0 0120 21.8c4.76 0 8.97 2.24 11.72 5.7a14.02 14.02 0 01-8.25 5.91 14.82 14.82 0 01-6.94 0 14.02 14.02 0 01-8.25-5.9zM13.99 12.78a6.02 6.02 0 1112.03 0 6.02 6.02 0 01-12.03 0z">
                          </path>
                        </svg>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="Polaris-ResourceItem__Content">
                  <h3>
                    <span class="Polaris-TextStyle--variationStrong">Ellen Ochoa</span>
                  </h3>
                  <div>Los Angeles, USA</div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
  
    <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
</body>
</html>
    