<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- unless settings.favicon == blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
    {%- endunless -%}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link href="{{ 'bootstrap.css' | asset_url }}" rel="stylesheet">
    <style>
        {{ settings.font_headings | font_face: font_display: 'swap' }}
        :root {
            --bs-headings-font-family: {{ settings.font_headings.family }}, {{ settings.font_headings.fallback_families }};
            --bs-headings-font-weight: {{ settings.font_headings.weight }};
        }
    </style>
    <link href="{{ 'general.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'sections.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">

    <script>
        window.money_format = "{{ shop.money_format }}"
        window.themeStrings = {
            addToCart: `{{ 'product.add_to_cart' | t }}`,
            soldOut: `{{ 'product.sold_out' | t }}`,
            unavailable: `{{ 'product.unavailable' | t }}`,
        }
    </script>

    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'general.js' | asset_url }}" defer></script>
    <script src="{{ 'collection.js' | asset_url }}" defer></script>
    <script src="{{ 'product.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
</head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">


  
    <a class="visually-hidden-focusable" href="#main">
        {{ 'general.accessibility.skip_content' | t }}
    </a>
    
    {% liquid 
        section 'announcement-bar' 
        section 'navbar' 
    %}
    <div class="Polaris-Banner Polaris-Banner--hasDismiss Polaris-Banner--withinPage" tabindex="0" role="status" aria-live="polite" aria-labelledby="PolarisBanner1Heading" aria-describedby="PolarisBanner1Content">
      <div class="Polaris-Banner__Dismiss">
        <button class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Dismiss notification" type="button">
          <span class="Polaris-Button__Content">
            <span class="Polaris-Button__Icon">
              <span class="Polaris-Icon">
                <span class="Polaris-VisuallyHidden">
                </span>
                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M6.707 5.293a1 1 0 0 0-1.414 1.414l3.293 3.293-3.293 3.293a1 1 0 1 0 1.414 1.414l3.293-3.293 3.293 3.293a1 1 0 0 0 1.414-1.414l-3.293-3.293 3.293-3.293a1 1 0 0 0-1.414-1.414l-3.293 3.293-3.293-3.293Z">
                  </path>
                </svg>
              </span>
            </span>
          </span>
        </button>
      </div>
      <div class="Polaris-Banner__Ribbon">
        <span class="Polaris-Icon Polaris-Icon--colorBase Polaris-Icon--applyColor">
          <span class="Polaris-VisuallyHidden">
          </span>

        </span>
      </div>
      <div class="Polaris-Banner__ContentWrapper">
        <div class="Polaris-Banner__Heading" id="PolarisBanner1Heading">
          <p class="Polaris-Heading">Order archived</p>
        </div>
        <div class="Polaris-Banner__Content" id="PolarisBanner1Content">
          <p>This order was archived on March 7, 2017 at 3:12pm EDT.</p>
        </div>
      </div>
    </div>


    <div class="Polaris-Labelled--hidden">
      <div class="Polaris-Labelled__LabelWrapper">
        <div class="Polaris-Label">
          <label id="PolarisDropZone1Label" for="PolarisDropZone1" class="Polaris-Label__Text">Upload files</label>
        </div>
      </div>
      <div class="Polaris-DropZone Polaris-DropZone--hasOutline Polaris-DropZone--sizeLarge" aria-disabled="false">
        <span class="Polaris-VisuallyHidden">
          <input id="PolarisDropZone1" type="file" multiple="" autocomplete="off">
        </span>
        <div class="Polaris-DropZone__Container">
          <div class="Polaris-DropZone-FileUpload Polaris-DropZone-FileUpload--large">
            <div class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingTight">
              <div class="Polaris-Stack__Item">
                <div class="Polaris-DropZone-FileUpload__Action">Add files</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main id="main" role="main">
        {{ content_for_layout }}
    </main>

    {% liquid
        section 'footer'
        render 'offcanvas-cart'
        render 'offcanvas-search'
    %}

    
  
    <script src="{{ 'predictive-search.js' | asset_url }}" defer></script>
</body>
</html>
    